.chat-message-head .ant-card-body {
  padding: 5px;
}

h5.ant-typography.chat-head-title {
  margin: 0px;
  font-size: 1.1rem;
  font-weight: 700;
}

.chat-message-head .message-head-avatar {
  margin-right: 5px;
  border-radius: 5px;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}
