.user-item {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border: 1px solid var(--primary-border-color);
}

.user-item:hover,
.user-item.active {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-border-color);
}

.user-item .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}
