.message {
  width: 98%;
  padding: 10px;
  margin-bottom: 5px;
  /* background-color: var(--primary-color);
  border: 1px solid var(--primary-border-color); */
  border-radius: 5px;
  padding: 0px;
}

.message .ant-card-body {
  padding: 5px;
}

.message.you {
  background-color: var(--secondary-color);
  border-color: var(--secondary-border-color);
  align-self: end;
}

.message .message-head {
  display: flex;
  margin-bottom: 5px;
}
