.chat-room .ant-card-body {
  padding: 6px;
}

.chat-room .room-avatar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.chat-room:hover,
.chat-room.active {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-border-color);
}

.chat-room .room-title {
  font-weight: 600;
}
