.add-room-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-room-container-button {
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-border-color);
  padding: 0px;
  color: var(--primary-text);
  border-radius: 5px;
  width: 30%;
  font-size: 1.8rem;
}
