.message .message-body input {
  width: calc(100% - 100px);
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  background-color: var(--secondary-color);
  color: var(--primary-text);
  border: 1px solid var(--secondary-border-color);
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  margin: 0px 10px;
}

.message .message-body button {
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-border-color);
  padding: 5px 10px;
  color: var(--primary-text);
  border-radius: 5px;
}
