.message-action {
  width: var(--message-action-width);
  position: relative;
  text-align: center;
  font-weight: 100;
  font-size: 0.85rem;
  margin-left: 5px;
}

.message-action .message-action-icon {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-action .message-action-icon:hover {
  background-color: var(--secondary-border-color);
}

.message-action .message-actions-dropdown {
  display: none;
  position: absolute;
  z-index: 99;
  right: 0;
  margin-bottom: 5px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-border-color);
  border-radius: 5px;
}

.message-actions-dropdown.active {
  display: block;
}

.message-action .message-actions-dropdown-item {
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 5px 10px;
  font-size: 1.05rem;
}

.message-action .message-actions-dropdown-item:hover {
  background-color: var(--secondary-color);
}
